.history-slider {
	width: 960px;
}
.history-slider .history-body {
	background-color: #00676f;
}
.history-slider .slider-images {
	overflow: hidden;
}
.history-slider .slider-images .list-slider-images {
	position: relative;
	width: 100%;
	height: 190px;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
	background: #e9ecef;
	transition: transform 0.5s ease-out;
}
.history-slider .slider-images .list-slider-images .slide-image {
	position: absolute;
	top: 0;
	width: 100%;
}
.history-slider .slider-images .list-slider-images .slide-image img {
	width: 100%;
	height: auto;
}
.history-slider .arrow-navigation {
	position: relative;
}
.history-slider .arrow-navigation .btn-slider {
	position: absolute;
	top: 50%;
	margin-top: 50px;
	border-radius: 50%;
	background: none;
	border: 1px solid white;
	color: white;
	padding: 7px 11px 7px 10px;
}
.history-slider .arrow-navigation .btn-slider:hover {
	cursor: pointer;
}
.history-slider .arrow-navigation .btn-prev {
	left: -8px;
}
.history-slider .arrow-navigation .btn-next {
	right: -8px;
}
.history-slider .slider-content {
	position: relative;
	padding: 1rem;
	min-height: 350px;
	width: 100%;
}
.history-slider .history-items {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	padding-top: 1rem;
}
.history-slider .history-items h3 {
	margin-bottom: 1rem;
	color: #fff;
}
.history-slider .history-items p {
	color: #fff;
}
.history-slider .list-slider-content {
	position: relative;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	width: 100%;
	min-height: 300px;
	overflow: hidden;
}
.history-slider .list-slider-content .slide-content {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.history-slider .list-slider-content .slide-content.current-slide {
	opacity: 1;
}
.history-slider .dot-navigation {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	/* bottom: 40px; */
	margin-top: 20px;
	width: 80%;
	text-align: center;
}
.history-slider .dot-navigation .dot-nav {
	border: 1px solid white;
	background: none;
	color: #fff;
	border-radius: 50%;
	font-size: 0.5rem;
	padding: 5px 7px;
	width: 15px;
	height: 16px;
	margin-right: 0.5rem;
	transition: background 0.5s ease;
}
.history-slider .dot-navigation .dot-nav:last-of-type {
	margin-right: 0;
}
.history-slider .dot-navigation .dot-nav.current-slide {
	background: white;
}
.history-slider .dot-navigation .dot-nav:hover {
	background-color: #fff;
}
